@keyframes slideUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

div.container {
    animation: slideUp 1.5s ease-in-out;
}