@keyframes slideUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

div.container {
    animation: slideUp 1.5s ease-in-out;
}

.navbar {
    z-index: 1000;
}

.pp {
    width: 12%;
}

@media (max-width: 768px) {
    .pp {
        width: 25%;
    }
}